
 #modal.modal-overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(255, 255, 255, 0.25);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(1.5px);
            -webkit-backdrop-filter: blur(1.5px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
            
        }
        #modal .modal-window {
            background: white;
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 13.5px );
            -webkit-backdrop-filter: blur( 13.5px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            width: 400px;
            height: 500px;
            position: relative;
            top: -100px;
            padding: 10px;
            max-height: calc(100vh - 210px);
            overflow-y: auto;
           
        }
        #modal .title {
          
            display: inline;
            color: black;
          
            
            
        }
        
        
        
        #modal .title p {
            margin-left : 170px;
            display: inline;
            font-size : 18px;
            font-weight: bold;
            
          
        }
        #modal .close-area {
            display: inline;
            float: right;
            padding-right: 10px;
            cursor: pointer;
            color: black;
        }
        
        #modal .content {
            position: relative;
            margin-top: 20px;
            padding: 0px 10px;
        
            color: black;
             
        }
        
        #modal .content::before {
              content: "";
              position: absolute;
              left: 0px;
              top: -10px;
              height: 2px;
              width: 100%;
              background: black;   
        }
        
li{
    
    display: flex;
    flex-direction: row;
    
    flex-wrap: nowrap;
   
    margin-bottom: 20px; 
    margin-top: 10px;
    margin-left: -45px;
}
    /* 프로필사진 사이즈 */
li > img{
    
    width: 50px;
}

li button {
	font-size: 14px;
	font-weight: bold;
	width: 80px;
	height: 40px;
	color: white;
	background: black;
	border-radius: 10px;
	margin-top: 5px;
	margin-left: 120px;
	
}
  /* 이름과 프로필 사진의 margin */
.profile > *{
  
    margin: 5px;
    margin-left: 10px;
}

 /* 이름 스타일*/
.profile > *:first-of-type{
   
    font-weight: bold;
    font-size: 14px; 
} 
 /* 상태메시지 스타일*/
.profile > *:nth-of-type(2){
 
    color: gray;
    font-size: 12px; 
}        