<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hellobook.mapper.ChatMapper">
	
	<insert id="createChatRoom" parameterType="map">
		
		insert all 
		into chat_room(rno) values(chat_room_seq.nextval)
		into chat_participant(rno, email) values(chat_room_seq.currval, #{email})
		into chat_participant(rno, email) values(chat_room_seq.currval, #{femail})
		select * from dual
	</insert>
	
	<select id="chatRoomList" resultType="com.hellobook.domain.ChatVO">
		select distinct cr.rno, m.nickname, m.profile
		from chat_room cr
		join chat_participant cp
		on cr.rno = cp.rno
		join member m 
		on m.email = cp.email
		left join chat_msg cm
		on cp.rno = cm.rno        
        where cp.rno in (select cp.rno
        from chat_participant cp
        left join member m
        on m.email = cp.email
        where cp.email=#{email})
        and
        m.email in
		(select cp.email
		from chat_participant cp, chat_room cr
		where cr.rno=cp.rno and cp.email != #{email}
		)
		order by cr.rno desc
	</select>
	
	<insert id="sendMessage">
		insert into chat_msg(mno, rno, email, content)
		values(chat_msg_seq.nextval, #{rno}, #{email}, #{content})
		<selectKey keyProperty="mno" resultType="int">
			select chat_msg_seq.currval from dual
		</selectKey>
	</insert>
	
	<select id="messageList" resultType="com.hellobook.domain.ChatMessageVO">
		select mno,rno,content,email,mdate from chat_msg where rno = #{rno} order by mdate asc
		
	</select>
	
	<select id="existChatRoom" resultType="Integer">
		select rno from chat_participant where email=#{femail} and rno in (select rno from chat_participant where email=#{email})
	</select>

</mapper>
