<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hellobook.mapper.FriendMapper">
    
    
    <select id="selectFriendList" resultType="com.hellobook.domain.MemberVO">
		SELECT DISTINCT f.frno, f.femail, m.email ,m.nickname, m.language, m.birth, m.sex, m.hobby, m.intro, m.profile  
		FROM friend f   
		LEFT OUTER JOIN member m   
		ON f.femail = m.email  
		WHERE F.email = #{remail}
		
	</select>
    
    
	<select id="requestFriendList" resultType="com.hellobook.domain.MemberVO">
		SELECT DISTINCT r.email, m.nickname 
		FROM friend_request r
		LEFT OUTER JOIN member m   
		ON r.email = m.email 
		WHERE r.remail = #{remail} 
		
	</select>
	
	<select id="merequestFriendList" resultType="com.hellobook.domain.MemberVO">
		SELECT DISTINCT r.email, r.remail, m.nickname 
		FROM friend_request r
		LEFT OUTER JOIN member m   
		ON r.remail = m.email 
		WHERE r.email = #{remail} 
		
	</select>
	
	<select id="requestFriend" resultType="com.hellobook.domain.MemberVO">
		INSERT INTO friend_request (remail, email)
		VALUES (#{remail}, #{email})
		
	</select>
	
	<select id="requestInsert" resultType="com.hellobook.domain.MemberVO">
		INSERT into friend (frno, email, femail) 
		VALUES (SEQ_NUM.NEXTVAL, #{remail}, #{insert})
		
	</select>
	
	<select id="merequestDelete" resultType="com.hellobook.domain.MemberVO">
		DELETE FROM friend_request WHERE email = #{remail} AND remail = #{insert}
		
	</select>
	
	<select id="requestDelete" resultType="com.hellobook.domain.MemberVO">
		DELETE FROM friend_request WHERE email = #{remail} AND remail = #{email}
		
	</select>
	
	
	
	<select id="findFriendList" resultType="com.hellobook.domain.MemberVO">
		SELECT DISTINCT m.email ,m.nickname, m.language, m.birth, m.sex, m.hobby, m.intro, m.profile  
		FROM member m   
		LEFT OUTER JOIN friend f   
		ON m.email = f.femail
        WHERE f.email is null AND 
              m.email != #{userid} AND
        	  m.nickname LIKE CONCAT('%' || #{keyword} ,'%') 
	</select>
	
	
	
	
</mapper>